body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:ivory;
}

.logo {
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 20px;
    padding-right: 30px;
}

.nav-item {
    display: flex;
    list-style-type: none;

}

.nav-item button {
    display: inline-block;
    margin-right: 20px;
    border: 1px solid black;
    margin-right: 0px;
    padding: 2px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    background-color: aliceblue;
}

hr.garis-A {
border: 1px solid black;
}

header {
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.posisi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posisi img {
    max-width: 70%;
    height: auto;
}

.facilitations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.circle {
    width:100px;
    height:100px;
    border: 2px solid black;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.facilitation-name {
    margin-top: 120px;
    font-size: 80%;
   
}

.miripheader {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 20px;
        padding-top: 20px;
}

form {
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 15px;
}

div.fone {
    display: flex;
}

#date-input {
    width: 70%;
}

#name-input {
    border: 1px solid black;
    height: 20px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 10px;
    width:66%;
}

.space {
    word-spacing: 60px;
}



#lbl {
    margin-top: 18px;
    margin-left: -4px;
}

#LP {
    margin-top: 14px;
    margin-left: 15px;
    justify-content: space-between;
}

#pesan-input {
    border: 1px solid black;
    height: 100px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 10px;
    width:66%;
}


.btnsubmit {
    width: 400px;
    height: 30px;
    margin-top: 20px;
    align-items:center ;
}

.space2 {
    word-spacing: 10px;
}

.space3 {
    word-spacing: 6px;
}

.space4 {
    word-spacing: 56px;
}

.wow {
    display: flex;
    justify-content: center;

}
.wow img {
    width: 500px;
    border-radius: 20%;
}

.judul {
    color: cornflowerblue;
}

.arah {
    word-spacing: 10px;
    letter-spacing: 1px;
    border-spacing: 2px;
    line-height: 30px;
    color: darkslategrey;
}

.content {
    flex: 1;
    max-width: 50%;
}



.penj {
    flex: 1;
    max-width: 45%;
}

.judul {
    margin-left: 200px;
    position: relative;
}

#date-input {
    border: 1px solid black;
    height: 20px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 10px;
    width:66%;
}

#error {
    font-style: italic;
    color: red;
    font-size: small;
}

.submit {
    color:darkslategrey;
    border: 2px;
    width: 200px;
    height: 200px;
}

.hey {
    display: flex;
    position: relative;
    color:darkslategrey
}

#sub {
    width: 500px; 
    height: 250px; 
    border: 1px solid #ccc; 
    padding: 10px;
    margin-top: 20px;
    margin-left: 1px;
    background-color: aliceblue;
}

.awww {
    padding-top: 20px;
    color:darkslategrey;
}


form {
    color: darkslategray;
}

.visimisi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 3;
}

.visimisi li {
    list-style: none;
}

.vm {
    font-family: fantasy;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 3;
}
